/*
 * @file
 * CSS for the Plot-It integration
 */

/*
body > main > expander:nth-child(4) > div > tab_pane
, 
body > main > expander:nth-child(4) > div > tab_pane > div
, 
body > main > expander:nth-child(4) > div > tab_pane > div > div:nth-child(1) > map
,
*/
tab_pane > div > div:nth-child(1)
{
  height: 500px !important;
}

/* 
#map_canvas
{
   height: 500px !important; 
}
*/

/*
 * experiment: 
 * didn't seem to help
 * references:
 *   http://econym.org.uk/gmap/basic19.htm
 *   http://stackoverflow.com/questions/16349476/map-isnt-showing-on-google-maps-javascript-api-v3-when-nested-in-a-div-tag
html, body
{
  height: 100% !important;
}
*/


/* 
html, body
{
  min-height: 100% !important;
}
*/
